@model Bikijada_MVC.Models.Oklada

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-top:20px; padding-bottom:10px">Create</h1>

<h4 style="padding-top:20px; padding-bottom:10px">Oklada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iznos" class="control-label"></label>
                <input asp-for="Iznos" class="form-control" />
                <span asp-validation-for="Iznos" class="text-danger"></span>
            </div>
            <div class="form-group">
                    @Html.LabelFor(model => model.Kategorija, "Kategorija", htmlAttributes: new { @class = "control-label"})
                    <div class="col-md-10">
                        @Html.DropDownList("Kategorija", null, htmlAttributes: new { @class = "form-control", @onchange = "UpdateBulls1()" })
                        @Html.ValidationMessageFor(model => model.Kategorija, "", new { @class = "text-danger" })
                    </div>
            </div>

            <div class="form-group">
                  @Html.LabelFor(model => model.Vlasnik, "Vlasnik bika", htmlAttributes: new { @class = "control-label"})
                  <div class="col-md-10">
                      @Html.DropDownList("Vlasnik", null, htmlAttributes: new { @class = "form-control", @onchange = "UpdateBulls1()" })
                      @Html.ValidationMessageFor(model => model.Vlasnik, "", new { @class = "text-danger" })
                        </div>
             </div>
             <div class="form-group">
                   @Html.LabelFor(model => model.Bik, "Bik", htmlAttributes: new { @class = "control-label" })
                   <div class="col-md-10">
                         @Html.DropDownList("BikId", null, htmlAttributes: new { @class = "form-control"})
                         @Html.ValidationMessageFor(model => model.Bik, "", new { @class = "text-danger" })
                   </div>
             </div>
            <div style="margin-top: 12px;" class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        async function UpdateBulls1() {
            const vlasnikName = document.getElementById("Vlasnik")?.value
            const Kategorija = document.getElementById("Kategorija")?.value

            const formData = new FormData();
            formData.append('vlasnikName', vlasnikName);
            formData.append('Kategorija', Kategorija);

            let response = await fetch('/Bikovi/GetBullsForOwner', {
                method: 'POST',
                body: formData
            })

            const bikovi = await response.json();
            let bSelectList = document.getElementById("BikId");
            bSelectList.innerHTML = " ";
            bikovi.forEach(function (bik) {
                const option = document.createElement("option");
                option.value = bik.id;
                option.innerHTML = bik.ime;
                bSelectList.appendChild(option);
            })
        }

    </script>
}